.wrapper {
    font-family: 'Arimo', sans-serif;
    background-color: #3a4965;
    width: 1190px;
    height: 730px;
    margin: 0 auto;
    padding-top: 25px;
    box-sizing: border-box;
}

.main-table {
    width: 1140px;
    height: 680px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.cell-price {
    width: 310px;
    height: 85px;
    text-align: center;
    color: rgb(72, 72, 72);
}

.cell {
    width: 310px;
    height: 70x;
    text-align: center;
    font-size: 16px;
    color: rgb(72, 72, 72);
}

.option {
    width: 310px;
    height: 150px;
    text-align: center;
}

.option-2 {
    font-size: 30px;
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.option-1 {
    font-size: 18px;
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.pricing-plan {
    background-color: #fafafa;
}

.price {
    background-color: #fafafa;
}

.standard {
    background-color: #89c331;
    color: rgb(255, 255, 255);
    width: 310px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
}

.ultimate {
    background-color: #f04a56;
    color: rgb(255, 255, 255);
    width: 310px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
}

.premium {
    background-color: #20807c;
    color: rgb(255, 255, 255);
    width: 310px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
}

.storage {
    background-color: #f2f2f2;
    text-align: center;
}

.bandwidth {
    background-color: #e3e3e3;
    text-align: center;
}

.email {
    background-color: #f2f2f2;
    text-align: center;
}

.support {
    background-color: #e3e3e3;
    text-align: center;
}

.products {
    background-color: #f2f2f2;
    text-align: center;
}

.users {
    background-color: #e3e3e3;
    text-align: center;
}

.contact-us {
    background-color: #dddddd;
    text-align: center;
}

.contact-us-button {
    background-color: #484848;
}

.contact-us-button:hover {
    background-color: #404040;
}

.buy-standard {
    text-align: center;
    background-color: #f4f4f4;
}

.buy-standard-button {
    background-color: #89c331;
}

.buy-standard-button:hover {
    background-color: #79b027;
}

.buy-ultimate {
    text-align: center;
    background-color: #f4f4f4;
}

.buy-ultimate-button {
    background-color: #f04a56;
}

.buy-ultimate-button:hover {
    background-color: #df3a46;
}

.buy-premium {
    text-align: center;
    background-color: #f4f4f4;
}

.buy-premium-button {
    background-color: #20807c;
}

.buy-premium-button:hover {
    background-color: #16736f;
}

.button {
    width: 190px;
    height: 45px;
    border-radius: 5px;
    padding: 0;
    border: none;
}

.button:focus {
    outline: none;
}

.button {
    cursor: pointer;
}

.border-right {
    border-right: 3px solid #e3e3e3;
}

.image {
    margin-right: 15px;
    vertical-align: middle;
}

.align {
    vertical-align: middle;
}